.main {
  margin: 10px;
}
 .title {
  font-size: 2.5em;
  color:darkblue;
 }
.titleBox {
  background-color: rgb(243, 221, 100);
  padding: 10px;
}

.link {
    color:blue;
    font-size: 1.8em;
}

.link:hover {
  text-decoration: underline;
}

.card {
  
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }

.date {
  vertical-align: middle;
  font-size: 1.2em;
}
/* Mobile */
@media (max-width: 700px) {
    .content {
      padding: 4rem;
    }
  
    .grid {
      grid-template-columns: 1fr;
      margin-bottom: 120px;
      max-width: 320px;
      text-align: center;
    }
  
    .card {
      padding: 1rem 2.5rem;
    }
}