.link {
  color:blue;
  font-size: 1.7em;
}

.link:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .main {
      width: 800px; 
    }
}
.main {
  max-width: 100%;
    margin: 10px 15px 10px 10px;
  }
  
  .title {
    margin: 0px 5px 10px;
  }
  
  .publishedAt {
    margin: 0px 5px 30px;
  }
  
  .post {
    & > h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 40px 0 20px;
      background-color: #eee;
      padding: 10px 20px;
      border-radius: 5px;
    }
  
    & > h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 40px 0 16px;
      border-bottom: 1px solid #ddd;
    }
  
    & > p {
      line-height: 1.8;
      letter-spacing: 0.2px;
    }
  
    & > ol {
      list-style-type: decimal;
      list-style-position: inside;
    }
  }