.margin {
  min-height: 100vh;
  background-color: white;
}

.link {
  color:blue;
  font-size: 1.7em;
  text-decoration: underline;
}

.link:hover {
  text-decoration: none;
}

.title {
  font-size: 2.5em;
  color:darkblue;
  
 }

.titleBox {
  background-color: rgb(243, 221, 100);
  padding: 10px;
  text-align: center;
}

.main {
  max-width: 100%;
    margin: 10px 15px 10px 10px;
  }

  .blogtitle {
    margin: 10px 5px 10px;
  }
  
  .publishedAt {
    margin: 0px 5px 30px;
  }
  
  .post {
    & > h1 {
      font-size: 30px;
      font-weight: bold;
      margin: 40px 0 20px;
      background-color: #eee;
      padding: 10px 20px;
      border-radius: 5px;
    }
  
    & > h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 40px 0 16px;
      border-bottom: 1px solid #ddd;
    }
  
    & > p {
      line-height: 1.8;
      letter-spacing: 0.2px;
    }
  
    & > ol {
      list-style-type: decimal;
      list-style-position: inside;
    }
  }

  @media (min-width: 610px) { //大画面用
    .margin {
      margin: 0px;
      min-height: 100vh;
      background-color: rgb(228, 238, 238);
    }
  
      .main {
        width: 70%;
        margin: 0 auto;
        padding: 20px;
        background-color: white;
        min-height: 100vh;
      } 

      .blogtitle {
        margin: 10px 30px 10px;
      }
      
      .publishedAt {
        margin: 0px 30px 30px;
      }

      .post {
        margin: 0px 20px;
      } 
  }