.margin {
  min-height: 100vh;
  background-color: white;

}

.main {
  padding: 10px;
  list-style: none;
  min-height: 100vh;
}
 .title {
  font-size: 2.5em;
  color:darkblue;
  
 }
.titleBox {
  background-color: rgb(243, 221, 100);
  padding: 10px;
  text-align: center;
}

.link {
    color:blue;
    font-size: 1.7em;
    text-decoration: underline;
}

.postlink {
  color:blue;
  font-size: 1.7em;
}


.link:hover {
  text-decoration: none;
}

.card {
    padding: 1rem 1.2rem;
    border-radius: var(--border-radius);
    background: rgba(var(--card-rgb), 0);
    border: 1px solid rgba(var(--card-border-rgb), 0);
    transition: background 200ms, border 200ms;
  }

.date {
  vertical-align: middle;
  font-size: 1.2em;
}

@media (min-width: 610px) {
  .margin {
    margin: 0px;
    min-height: 100vh;
    background-color: rgb(228, 238, 238);
  }

    .main {
      width: 70%;
      margin: 0 auto;
      padding: 10px;
      background-color: white;
      min-height: 100vh;
    } 
}
/* Mobile */
/*  @media (max-width: 700px) {
    .content {
      padding: 4rem;
    }
  
    .grid {
      grid-template-columns: 1fr;
      margin-bottom: 120px;
      max-width: 320px;
      text-align: center;
    }
  
    .card {
      padding: 1rem 2.5rem;
    }
} */